[Unit]
Description=Node Exporter
After=network-online.target
[Service]
User=nodeexport
Group=nodeexport
Type=simple
ExecStart=/usr/local/bin/node_exporter
[Install]
WantedBy=multi-user.target